# Ignorar el entorno virtual
env/

# Ignorar cachés de Python
__pycache__/
*.py[cod]

# Ignorar caché de pytest
.pytest_cache/

# Ignorar archivos temporales o específicos del editor
*.swp
*.swo
.idea/
.vscode/

.env
prod.env